<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GDPR for Recruitment Task</title>
</head>
<body>
<h1>Adam Łaczek - GDPR for Recruitment Task</h1>
<p>I hereby give consent for my personal data included in my application to be processed for the purposes
    of the recruitment process under the European Parliament's and Council of the European Union
    Regulation on the Protection of Natural Persons as of 27 April 2016, with regard to the processing of
    personal data and on the free movement of such data, and repealing Directive 95/46/EC.</p>
</body>
</html>
